*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    border: 0;
}
html, body{
	height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.header{
    justify-content: center;
    align-items: center; 
    text-align: center;
    vertical-align: middle;
    background: #9afbf9;
    height: 10%;
    width: 100%;
    opacity: 100%;
}
.header p{
  padding: 10px;
  margin: 0;
  color: #333;
  font-size: xxx-large;
    text-align: center;
    vertical-align: middle;
    background: #9afbf9;
}
.header-line{
    background: #82b8ff;
    height: 5%;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-container-s{
  font-size: small;
  background: #82b8ff;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    width: 14%;
}
.reg-container{
  font-size: xx-small;;
}
.reg-button{
  font-size: xx-small;
}
.content-container{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.main-content{
  background: #cff8e9;
  padding: 4%;
  color: black;
    height: 100%;
    width: 70%;
}
.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
}
.side-content-s{
  font-size: large;
  padding: 1%;
  left: 0px;
    background: #92e0f0;
    border-bottom: 1px solid #3d7d8a;
    flex: 1;
    width: 100%;
}
.fotter{
  background: #9afbf9;
    height: 5%;
}


.list-container-s .dropdown {
    display: none;
    background: #6c8cff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .list-container-s:hover .dropdown {
    display: block;
  }
  
  .list-container-s .button {
    background: #6c8cff;
    text-decoration: none;
    color: #333;
    display: inline-block;
  }
  
  .list-container-s .dropdown li {
    list-style: none;
  }
  
  .list-container-s .dropdown li a {
    display: block;
    color: #333;
    text-decoration: none;
  }
  
  .list-container-s .dropdown li a:hover {
    background: #7f9bff;
  }

  .button{
    border-left: #78c4d4;
    font-size: larger;
    background: #6c8cff;
    width: 100%;
    height: 100%;
  }
  .dropdown{
    width: 100%;
    height: 10%;
    padding: 0%;
    margin: 0%;
  }

  .dropdown a{
    background: #6c8cff; ;
  }
